@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.boxed-content {
  width: min(1440px, 85%);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.curve-top {

 /* rounded edge at the top */
 clip-path: ellipse(250% 100% at top)
}
